@model ThanhAn_Group.DAL.Models.Baiviet

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="container-fluid p-0 text-white v-slide">
        <div class="et-header" style="background-image: url('/Images/@Model.Images') !important;">
            <div class="container">
                <div class="bg-box"></div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-12 hr-left mgtop-40">
                        <h1 class="name-page text-uppercase">Tin tức và sự kiện</h1>
                        <h2 class="text-header">
                           @Model.Title
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-news-page news-page-detail">
        <div class="container">
            <div class="news-page-detail-content">
                <div class="col-md-12">
                    <div class="v-page-content">
                        <h1 class="title"></h1>
                        <div class="news-child-solid">
                            @*<span><i class="fa fa-map-marker" aria-hidden="true"></i> Hà Nội</span>*@
                            <span><i class="fa fa-calendar" aria-hidden="true"></i> @Model.CreateDate</span>
                            @*<span><i class="fa fa-clock-o" aria-hidden="true"></i> 00:00</span>*@
                        </div>
                        <div class="ex">
                            <p>
                                @Model.ShortContent
                            </p>
                        </div>
                        <div class="content">
                            <div class="content">
                                @Html.Raw(@Model.Contents)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

